{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block header_right %}{% endblock %}
{% block nav %}{% endblock %}
{% block main %}
    {% block pageTitle %}
        <h2>Se connecter</h2>
    {% endblock %}
    <div class="card w-50 px-5 py-3 mx-auto">
        <div class="third-parties mb-3">
            {{ include('includes/connect_with_google.html.twig') }}
            {{ include('includes/connect_with_github.html.twig') }}
        </div>
        <div class="label-hr text-center mb-3">
            <span>Vous avez des indentifiants ? Continuez avec votre adresse e-mail</span>
        </div>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form-floating mb-3">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" autocomplete="email" required autofocus>
                <label for="inputEmail">Adresse e-mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                <label for="inputPassword">Mot de passe</label>
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="remember-me-check" name="_remember_me">
            <label class="form-check-label" for="remember-me-check">
                Se souvenir de moi
            </label>
            </div>

            <button class="btn btn-lg btn-primary w-100" type="submit">
                Connexion
            </button>
        </form>
    </div>
{% endblock %}


