{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Comment publier un package PHP sur packagist.org</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem consectetur quam corrupti dicta ipsa reiciendis ratione id nam aspernatur asperiores!</p>
        <button class="btn btn-primary btn-lg" type="button">Consulter l'article</button>
        <div class="tags-wrapper float-end">
        <div class="row">
            <div class="col">
                <a href="#" class="badge bg-secondary">PHP</a>
            </div>
            <div class="col">
                <a href="#" class="badge bg-secondary">Javascript</a>
            </div>
            <div class="col">
                <a href="#" class="badge bg-secondary">Composer</a>
            </div>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% for i in 1..6 %}
                <div class="col-md-6 col-sm-12">
                    <div class="card mb-3 px-0">
                        <div class="row g-0">
                            <div class="col-md-4">
                            <img src="https://picsum.photos/200/300" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-3">
            <h4>Tendances du moment</h4>
            <div class="d-flex flex-column">
                {% for i in 1..4 %}
                <a href="#" class="card p-3 mb-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae, corrupti dolore id nobis assumenda ullam labore quod tempora magnam...
                </a>
                {% endfor %}
            </div>
            <h4>Thèmes</h4>      
            <div class="card p-3">
            Mot AutreMot Efezf EZKefzf zepogez zefj oihezfez fezfef
            </div>
        </div>
    </div>
{% endblock %}
