{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}
{% block meta %}
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
{% endblock %}

{% block header_left %}{% endblock %}
{% block nav %}{% endblock %}

{% block main %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% block pageTitle %}
        <h2>Créer un compte</h2>
    {% endblock %}
    <div class="card p-4 w-50 mx-auto">
    <div class="third-parties mb-3">
       {{ include('includes/connect_with_google.html.twig') }}
       {{ include('includes/connect_with_github.html.twig') }}
    </div>
    <p class="text-center">Ou</p>
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            <button type="submit" class="btn btn-lg btn-primary w-100">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock main %}
