<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-around w-100">
        <li class="nav-item">
          <a class="nav-link" href="#">Php</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Symfony</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VueJs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Javascript</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CSS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
