
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}
.brand-title {
    font-family: 'DynaPuff', cursive;
    font-size: 5rem;
}
.brand-image {
    width: 75px;
    &.xl-x {
        width: 100px;
    }
    &.xl-y {
        height: 100px;
        width: auto;
    }

}

header {
    .navbar {
        border-top: 1px solid var(--bs-gray);
    }
}

a {
    &.no-style {
        text-decoration: none;
        color: initial;
        &:hover {
            text-decoration: none;
        }
    }
    &.badge {
        text-decoration: none;
        &:hover {
            color: var(--bs-white);
            text-decoration: underline;
        }
    }
}

.third-parties {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.label-hr {
    position: relative;
    &::after {
        border: 1px solid var(--bs-gray);
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        border-radius: 1px;
    }
    span {
        z-index: 9999;
        position: relative;
        display: inline-block;
        background: white;
        padding: 0 1rem;
    }
}