<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Blog.Ikows - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block meta %}{% endblock %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="page-{{app.request.attributes.get('_route')}}">
        <div class="container">
            {% block body %}
            <header>
                {% block header %}
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2">
                        {% block header_left %}
                            <a href="{{ path('register') }}" class="btn btn-outline-dark">S'inscrire</a>
                        {% endblock header_left %}
                    </div>
                    <div class="col-md-8">
                        {% include "includes/header_title.html.twig" %}
                    </div>
                    <div class="col-md-2 text-end">
                        {% block header_right %}
                            <a href="{{ path('login') }}" class="btn btn-outline-dark">Se connecter</a>
                        {% endblock header_right %}
                    </div>
                </div>
                {% endblock header %}
                {% block nav %}
                    {% include "includes/nav.html.twig" %}
                {% endblock %}
            </header>
            <main>
                {% block main %}
                    {% block pageTitle %}{% endblock %}
                {% endblock %}
            </main>
            <footer>
                {% block footer %}{% endblock %}
            </footer>
            {% endblock %}
        </div>
    </body>
</html>